<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="width: 500px; height: 350px; position: relative">
      <div style="left: 0px; top: 0px; position: absolute; color: #FF3B30; font-size: 30px; font-family: Roboto; font-weight: 800; line-height: 22px; word-wrap: break-word">EASY EYE<br/><br/></div>
      <div style="left: 0px; top: 66px; position: absolute; color: black; font-size: 17px; font-family: Roboto; font-weight: 600; line-height: 22px; word-wrap: break-word">Ciao!<br/><br/></div>
      <div style="width: 500px; left: 0px; top: 110px; position: absolute; color: black; font-size: 13px; font-family: Roboto; font-weight: 400; line-height: 18px; word-wrap: break-word">Stai verificando la tua email sull’applicazione Easy Eye, il codice di verifica è:<br/><br/><br/></div>
      <div style="width: 500px; left: 0px; top: 146px; position: absolute; color: black; font-size: 40px; font-family: Roboto; font-weight: 700; line-height: 22px; letter-spacing: 20px; word-wrap: break-word">{{ code }}<br/><br/><br/></div>
      <div style="left: 0px; top: 190px; position: absolute; color: black; font-size: 13px; font-family: Roboto; font-weight: 400; line-height: 18px; word-wrap: break-word">sarà valido per 5 minuti.<br/><br/></div>
      <div style="width: 500px; left: 0px; top: 226px; position: absolute; color: #606268; font-size: 13px; font-family: Roboto; font-weight: 700; line-height: 18px; word-wrap: break-word">Per la sicurezza del tuo account, ti preghiamo di non condividere il codice di verifica con altri e di ignorare questa email se non lo stai facendo tu stesso.<br/></div>
      <div style="width: 500px; left: 0px; top: 280px; position: absolute; color: black; font-size: 13px; font-family: Roboto; font-weight: 400; line-height: 18px; word-wrap: break-word"><br/>____________<br/></div>
      <div style="left: 0px; top: 334px; position: absolute; color: #FF3B30; font-size: 15px; font-family: Roboto; font-weight: 900; line-height: 15.71px; word-wrap: break-word">EASY EYE</div>
    </div>
  </body>
</html>